<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta name="Description" content="" />
	<meta name="Keywords" content="关键词" />
	<title>股票定投微信推送宝</title>
	<!--#include virtual="/sinclude/cssi/fd/paipai/idle/index.html"-->
</head>
<body>
	
	<div class="p_bd">
		<div class="grid_c1">
			<div class="f f1" id="J_f1">
				<h3 class="f_tit"><span class="f_tx1">热门推荐</span></h3>
				<div class="show">
					<ul class="show_nav" id="J_showNav">
            <li class=""><a href="{% url 'set_record' '510900'%}" class=""><i></i><span>H股（510900）</span></a></li>
<li class=""><a href="javascript:void(0)"><i></i><span>A股（510900）</span></a></li>
<li class=""><a href="javascript:void(0)"><i></i><span>B股（510900）</span></a></li>
<li class=""><a href="javascript:void(0)"><i></i><span>C股（510900）</span></a></li>
<li class=""><a href="javascript:void(0)"><i></i><span>D股（510900）</span></a></li>
					</ul>
					
				</div>
			</div>
			

		</div>
	</div>

	<script src="http://static.paipaiimg.com/js/act/paipai.common.js"></script>
	<script src="http://static.paipaiimg.com/js/channel/secondary_idle.js?t=1"></script>

</body>
</html>
